<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".LuckyFilesTVApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:banner="@mipmap/tv_banner"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuckyFilesTV"
        tools:targetApi="33">

        <service
            android:name=".data.transfer.FileTransferService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name=".data.provider.FileContentProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name=".data.provider.FileDocumentsProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DocumentPickerActivity"
            android:exported="false" />

        <activity-alias
            android:name=".SystemDocumentPicker"
            android:targetActivity=".DocumentPickerActivity"
            android:enabled="@bool/system_document_picker_enabled"
            android:exported="true">

            <intent-filter android:priority="120">
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter android:priority="120">
                <action android:name="android.intent.action.CREATE_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter android:priority="120">
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter android:priority="120">
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity-alias>

    </application>

</manifest>
